extends ../../layouts/default.pug
include ../../mixins/table-tree.pug


block main
    h2 Danh sách sản phẩm
    .card.mb-3
        .card-header Danh mục sản phẩm
            .card-body
                .row
                    .col-4
                        a(
                            class="btn btn-outline-success"
                            href=`${prefixAdmin}/products-category/create`
                        ) + Thêm sản phẩm

                table(
                    class = "table table-hovertable-sm"
                    checkbox-multi
                )
                    thead
                        tr
                            th 
                                input(type="checkbox", name="checkall")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Position
                            th Trạng thái
                            th Hành động
                    tbody
                        +table-tree(records)
    <script src="/admin/js/product.js"></script>






